:root {

    --color-primary: #2f2d52;
    --color-secondary: #F9FBFC;
    --color-accent: #B2F4DB;
    --color-body: #A8A8AB;



    --color-tertiary: #ffff;
    --color-neutral: #ffff;
    --color-neutral-variant: #ffff;
    --color-error: #ffff;

}
