// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

$border-radius: 0.85rem;

:root {
  @include mat.dialog-overrides(
    (
      container-color: #ffffff,
      subhead-color: var(--color-header),
      subhead-font: var(--font-noto-sans-thai),
      supporting-text-font: var(--font-noto-sans-thai),
      supporting-text-size: 1.1rem
    )
  );
  @include mat.button-overrides(
    (
      outlined-label-text-color: var(--color-primary),
      outlined-outline-color: var(--color-primary),
      outlined-state-layer-color: var(--color-primary)
    )
  );
  @include mat.tabs-overrides(
    (
      label-text-font: var(--font-noto-sans-thai),
      label-text-weight: 600,
      active-indicator-color: var(--color-primary)
    )
  );
}

html {
  // color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
        theme-type: light
      ),
      typography: Roboto,
      density: 0
    )
  );
}

div[matformfieldlineripple] {
  display: none;
}

// Input field
.mat-mdc-text-field-wrapper.mdc-text-field {
  border-radius: $border-radius;
  padding: 0 $border-radius;
}

mat-label {
  font-family: var(--font-ibm-plex-sans-thai);
}

input.mdc-text-field__input.mdc-text-field__input {
  font-family: var(--font-ibm-plex-sans-thai);
  font-weight: 400;
}


// button[mat-flat-button] {
//   border-radius: $border-radius;
//   font-size: 1.2rem;
// }

button.mdc-button {
  // padding: 1.3rem 1.8rem;
  font-family: var(--font-ibm-plex-sans-thai);
  // border: 1px solid var(--color-primary);
}

// button[dialog-cancel-btn].mat-mdc-outlined-button:not(:disabled) {
//   background-color: transparent;
//   border: 1px solid black;
//   .mdc-button__label {
//     color: black;
//   }
//   &:hover {
//     background-color: rgb(0, 0, 0, 0.009);
//   }
// }

button[dialog-confirm-delete-btn].mat-mdc-unelevated-button:not(:disabled) {
  background-color: #dc3646;
  border: 1px solid #dc3646;
  .mdc-button__label {
    color: white;
  }
}

button[dialog-import-csv-btn] {
  border: 1px solid #00d492;
  .mdc-button__label {
    color: #00d492;
  }
  .mat-mdc-button-persistent-ripple::before {
    content: none;
  }
}
button[dialog-import-csv-btn]:hover {
  background-color: rgb(0, 212, 146, 0.08) !important;
}
