<h2 mat-dialog-title class="text-center">
  <span class="text-center font-semibold">สร้างห้องเรียน</span>
</h2>
<mat-dialog-content>
  <form [formGroup]="classroomForm" (ngSubmit)="onSubmitCreate()" class="py-10">
    <mat-form-field class="w-full">
      <mat-label for="subject">ชื่อห้องเรียน</mat-label>
      <input
        matInput
        id="subject"
        formControlName="subject"
        placeholder="ชื่อห้องเรียน"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label for="gradeLevel">ระดับชั้น</mat-label>
      <input
        matInput
        id="gradeLevel"
        formControlName="gradeLevel"
        placeholder="ระดับชั้น"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label for="category">ห้อง</mat-label>
      <input
        matInput
        id="room"
        formControlName="room"
        placeholder="ห้อง"
      />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label for="category">กลุ่มสาระ</mat-label>
      <input
        matInput
        id="subjectGroup"
        formControlName="subjectGroup"
        placeholder="กลุ่มสาระ"
      />
    </mat-form-field>

    <div>
      <button class="w-full" mat-flat-button type="submit" [disabled]="classroomForm.invalid">สร้าง</button>
    </div>
  </form>
</mat-dialog-content>
